* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 67%;
}

#search {
    width: 33%;
}

#main, #search {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}

img {
    height: 100px;
    border: 1px black solid;
}

.yt-result {
    display: flex;
    padding: 20px;
}

.input-container {
    display: flex;
}

.input-container > * {
    padding: 10px;
}

.input-container > input {
    width: 100%;
    max-width: 500px;
}

.input-container > button {
    flex-grow: 1;
    max-width: 200px;
}

progress {
    width: 100%;
    height: 40px;
    border-radius: 0;
}

@media only screen and (max-width: 1000px) {
  body {
      flex-direction: column;
  }

  #main {
      width: 100%;
  }

  #search {
      width: 100%;
  }
}


input, button, select  {
    margin: 5px;
    font-family: inherit;
}
